/*

App.css - the css for the app itself
Copyright (C) 2021  William R. Moore <william@nerderium.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  .mdc-tab--active .mdc-tab__text-label {
    color: white;
  }

.mdc-tab--active .mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: white;
}

.mdc-top-app-bar {
  background-color: lightskyblue;
  color: black;
}
.mdc-button--raised {
  background-color: green !important;
}

#importRoll {
  display: none;
}
  .App-section {
    padding-top: 5em;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-subtitle {
    font-size: 1.0em;
  }
  .dice-list .mdc-text-field {
    top: -0.5em;
  }

  .dice-list-item .species {
    vertical-align: middle;
    width: 20%;
  }

  .dice-list-item .die-name {
    width: 20%;
  }

  .dice-list-item .edition {
    width: 20%;
  }

  .dice-list-item .amount {
    width: 20%;
  }

  .dice-list-header {
    font-weight: bold;
  }

  .dice-list-header .species {
    width: 20%;
  }

  .dice-list-header .die-name {
    width: 20%;
  }

  .dice-list-header .edition {
    width: 20%;
  }

  .dice-list-header .amount {
    width: 20%;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .button-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-bar > Button {
    margin: 10px;
  }
  
  .dice-list {
    overflow-y: scroll;
    height: 20em;
    max-height: 20em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .mdc-list-divider {
    margin-left: 8em;
  }
  
  .dice-list-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .dice-list .mdc-text-field {
    top: -0.5em;
  }

  .dice-list-item .species {
    width: 20em;
  }

  .dice-list-item .die-name {
    width: 20em;
  }

  .dice-list-item .edition {
    width: 12em;
  }

  .dice-list-item .type {
    width: 12em;
  }

  .dice-list-item .rarity {
    width: 10em;
  }

  .dice-list-item .amount {
    width: 4em;
  }

  .dice-list-header {
    font-weight: bold;
  }

  .dice-list-header .species {
    width: 22em;
  }

  .dice-list-header .die-name {
    width: 18em;
  }

  .dice-list-header .edition {
    width: 14em;
  }

  .dice-list-header .type {
    width: 10em;
  }

  .dice-list-header .rarity {
    width: 10em;
  }

  .dice-list-header .amount {
    width: 10em;
  }

  @media only screen and (max-width: 768px) {
    .dice-list-item .species {
      width: 10em;
    }
  
    .dice-list-item .die-name {
      width: 10em;
    }
  
    .dice-list-item .edition {
      width: 8em;
    }
  
    .dice-list-item .type {
      display: none;
    }

    .dice-list-item .rarity {
      display: none;
    }

    .dice-list-item .amount {
      width: 15em;
    }
  
    .dice-list-header .species {
      width: 12em;
    }
  
    .dice-list-header .die-name {
      width: 8em;
    }
  
    .dice-list-header .edition {
      width: 10em;
    }
  
    .dice-list-header .type {
      display: none;
    }

    .dice-list-header .rarity {
      display: none;
    }

    .dice-list-header .amount {
      width: 12em;
    }
  }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }